<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <div class="content-head">
            <h2>All Blogs</h2>
            <button><a href="/blogs/create">New +</a></button>
        </div>
        <% Object.values(blogs).forEach(blog =>{ %>
            <div class="blog-info">
                <a class="single" href="/blogs/<%= blog._id%>">
                    <h3><%= blog.title%></h3>
                    <p><%= blog.body%></p>
                </a>
            </div>
        <% }) %>
    </div>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>